body {
    margin: 0;
}
.full {
    width: 100%;
}
.popup-outer {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.popup-content > iframe {
    max-height: 500px;
    max-width: 700px;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
}

.popup-content {
    max-height: 500px;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.header {
    background-color:#3CB371;
    position: fixed;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    z-index: 20;
    top: 0;
    opacity: 0.8;

}
.center {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color:#3CB371;
    position: relative;
}
.logo {
    position: absolute;
    height: 30px;
    background-color: #3CB371;
    top: 20px;
    left: 20px;
    padding-left: 40px;
    padding-top: 0px;
}
.buttons {
    position: absolute;
    height: 36px;
    width: 80%;
    min-width: 800px;
    background-color: #3CB371;
    left: 800px;
    right: 200px;
    top: 20px;
}
.button {
    display: inline-block;
    width: 16%;
    max-width: 120px;
    height: 36px;
    background-color: white;
    line-height: 36px;
    text-align: center;
    border-radius: 10px;
    font-family: ;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}

.button:hover {
    color: white;
    cursor: pointer;
}
a:first-child > .button:hover {
    background-color: #F23759;
    animation-name: change-bg1;
    animation-duration: 0.3s;
}
@keyframes change-bg1 {
    0% {
       background-color: white; 
    }
    100% {
        background-color: #F23759;
    }
}
a:nth-child(2) > .button:hover {
    background-color: #0089D5;
    animation-name: change-bg2;
    animation-duration: 0.3s;
}
@keyframes change-bg2 {
    0% {
       background-color: white; 
    }
    100% {
        background-color: #0089D5;
    }
}
a:nth-child(3) > .button:hover {
    background-color: #F49624;
    animation-name: change-bg3;
    animation-duration: 0.3s;
}
@keyframes change-bg3 {
    0% {
       background-color: white; 
    }
    100% {
        background-color: #F49624;
    }
}
a:nth-child(4) > .button:hover {
    background-color: #1C9F5E;
    animation-name: change-bg4;
    animation-duration: 0.3s;
}
@keyframes change-bg4 {
    0% {
       background-color: white; 
    }
    100% {
        background-color: #1C9F5E;
    }
}
a:nth-child(5) > .button:hover {
    background-color: #111111;
    animation-name: change-bg5;
    animation-duration: 0.3s;
}
@keyframes change-bg5 {
    0% {
       background-color: white; 
    }
    100% {
        background-color: #111111;
    }
}
a:nth-child(6) > .button:hover {
    background-color: #111111;
    animation-name: change-bg5;
    animation-duration: 0.3s;
}

.fb {
    display: inline-block;
    height: 36px;
    width: 36px;
    font-size: 15px;
    background-color: pink;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    font-family: 
}
.fb:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}
.index-image {
    max-height: 450px;
    max-width:  879px;
    padding-top: 60px;
    background-color: white;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.index-image > img {
    width: 90%;
}
#grad1 {
    height: 200px;
}
.read-more {
    position: relative;
    top: -50px;
    height: 60px;
    line-height: 60px;
    word-spacing: 5px;
    width: 300px;
    background-color: #3CB371;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    margin-bottom: 300px; 
}
.read-more:hover{
    font-size: 25px;
    cursor: pointer;
    background-color: green;
    animation-name: change-bg;
    animation-duration: 0.3s;
}
@keyframes change-bg {
    0% {
        background-color: #3CB371;
        font-size: 20px;
    }
    100% {
        background-color: green;
        font-size: 25px;
    }
}
/*漸層
.overlay {
    background: linear-gradient(180deg, rgba(0,83,61,0.00) 50%, #FFB6C1 120%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}*/
.content{
    text-align: center;
    padding-bottom: 200px;
}
h1 {
    font-size: 40px;
    font-family: ;
    color: #3CB371;
    padding-top: 50px;
    padding-bottom: 30px;
}
p {
    color: green;
    font-size: 20px;
    font-family: 'sourcehansans-tc';
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.title_image {
    position: absolute;
    padding-top: 50px;
    padding-left: 35%;
}
.bigproblem {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}
.problem {
    max-height: 400px;
    max-width: 700px;
    height: 70vw;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.problem > img {
    max-height: 400px;
    max-width: 600px;
    width: 100%;
}
.slogan1 {
    position: relative;
    font-family: 'wt001';
    font-size: 20px;
    color: white; 
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom:100px;  
    text-shadow: 1px 1px 5px black;
    overflow: hidden;
}
.slogan1 > h2 {
    position: relative;
    z-index: 15;
    font-family: 'Open Sans Condensed', sans-serif;
    word-spacing: 10px;
}
.slogan1-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: url("../image/Vegetables.jpg");
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: repeat-y;
    background-position: center;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform: scale(1.1);
}
.big-advantage {
    max-width: 720px;
    margin: 0 auto;
}
.big-advantage > p {
    padding-right: 30px;
    padding-left: 30px;
}
.advantage {
    max-width: 720px;
    background-color: white;
    margin: 0 auto;
    position: relative;
}
.advantage-text, .advantage-image {
    max-width: 350px;
    height: 300px;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    float: left;
}
.advantage-text {
    background-color: #3CB371;
    opacity: 0.8;
}
.advantage-image {
    background-color: white;
}
.advantage-image > img {
    max-width: 350px;
    width: 100%;
}
.advantage-text > h3 {
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 25px;
    font-family: ;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
.advantage-text > h4{
    padding-right: 50px;
    padding-left: 50px;
    line-height: 30px;
    color: white;
    font-size: 18px;
    font-family: 'sourcehansans-tc';
    text-align: justify;

}
.our-design {
    max-width: 720px;
    padding-top: 40px;
    margin: 0 auto;
    clear: both;
}
.design{
    width: 720px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
}
.design > img{
    max-width: 720px;
    max-height: 508px;
    width: 100%;
    background-color: white;
}
.design-circle > img {
    max-height: 500px;
    max-width: 514px;
    width: 70%;
    margin-top: 30px;
}
.design-image1 {
    width: 350px;
    height: 420px;
    background-color: red;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.design-image2 {
    width: 350px;
    height: 200px;
    background-color: green;
    float: left;
    margin-bottom: 20px;
}
.circle {
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100vw;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    background-image: url("../image/circle.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.position {
    max-width: 700px;
    width: 100%;
    margin:0 auto; 
}

.position1 {
    margin-bottom: 50px;
    max-width: 700px;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: yellow;
}
.team{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.our-team{
    margin-bottom: 50px;
    max-width: 700px;
    width: 90%;
    max-height: 400px;
    position: relative;
    background-color: white; 
    margin: 0 auto;
}
.our-team > img{
    max-width: 700px;
    width: 100%;
}
.team-image-list {
    height: 300px;
}
.team-image{
    width: 346px;
    height: 200px;
    background-color: pink;
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}
.footer{ 
    clear: both;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #3CB371;
    margin: 0 auto;
}
.footer > h2 {
    font-size: 10px;
    line-height: 30px;
    color: white;
    text-align: center;
    padding-top: 50px;
}


@media only screen and (max-width: 700px) {
    body {
        
    }
    .index-image > img {
        width: 100%;
    }
    .read-more {
        top: 10px;
        margin-bottom: 100px;
    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 25px;
    }
    .buttons {
        display: none;
    }
    .advantage {
        width: 350px;
    }
    .design {
        width: 350px;
    }
    .design:first-of-type {
        height: 800px;
    }
}